@import 'tailwindcss';
@import '@fontsource-variable/instrument-sans/index.css';

:root {
  --background: #f1f1f1;
  --foreground: #080808;
  --font-sans: 'Instrument Sans Variable';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/*    SCROLLBAR    */

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: theme('colors.gray.100');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.indigo.500');
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.indigo.500');
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.indigo.500') theme('colors.gray.100');
}

/*    TEXT    */

.text-light {
  @apply text-[#868686];
}
.text-mid {
  @apply text-[#2B2B2B];
}
.text-dark {
  @apply text-[#080808];
}

p,
li {
  @apply leading-relaxed font-normal text-balance;
  font-size: clamp(16px, calc(16px + 2 * ((100vw - 360px) / 1080)), 18px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight font-medium text-balance;
}

h1,
.h1 {
  font-weight: 700;
  font-size: clamp(48px, calc(48px + 24 * ((100vw - 360px) / 1080)), 72px);
}

h2,
.h2 {
  font-weight: 700;
  font-size: clamp(36px, calc(36px + 12 * ((100vw - 360px) / 1080)), 48px);
}

h3,
.h3 {
  font-weight: 700;
  font-size: clamp(36px, calc(36px + 12 * ((100vw - 360px) / 1080)), 48px);
}

h4,
.h4 {
  font-weight: 600;
  font-size: clamp(24px, calc(24px + 12 * ((100vw - 360px) / 1080)), 36px);
}

h5,
.h5 {
  font-weight: 600;
  font-size: clamp(20px, calc(20px + 4 * ((100vw - 360px) / 1080)), 24px);
}

h6,
.h6 {
  font-weight: 600;
  font-size: clamp(18px, calc(18px + 2 * ((100vw - 360px) / 1080)), 20px);
}

/*    FORMS    */

label {
  @apply text-xl font-medium text-[#2B2B2B] md:text-2xl;
}

input,
select,
textarea {
  @apply w-full rounded-md border border-gray-300 bg-transparent px-2 py-3 text-lg text-[#2B2B2B] transition focus:outline-none;
}

@layer base {
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    @apply bg-indigo-100 text-[#2B2B2B];
    -webkit-box-shadow: 0 0 0px 1000px theme('colors.amber.100') inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer base {
  select option:checked,
  select option:focus,
  select option:hover {
    @apply bg-indigo-100 text-[#2B2B2B];
  }
}

/*    CUSTOM    */

.marker-after {
  @apply relative inline-block before:absolute before:inset-x-[5px] before:bottom-0 before:h-4 before:-rotate-1 before:bg-indigo-800 before:blur-[0.5px] before:content-[''];
  p,
  span {
    @apply relative z-10;
  }
}

.marker-before {
  @apply relative inline-block before:absolute before:inset-x-[5px] before:bottom-0 before:h-4 before:-rotate-1 before:bg-indigo-800 before:blur-[0.5px] before:content-[''];
}
